openapi: 3.0.0
servers:
  - url: https://v2-nova-api.prod.czmx.in/api
info:
  contact: {}
  title: Cozmo - API
  version: devel
paths:
  /api/contact:
    post:
      description: Submit a public contact form. Requires Turnstile token validation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contact.ContactFormRequest"
        description: Contact form submission
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contact.ContactFormResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "403":
          description: Turnstile validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Submit contact form
      tags:
        - Contact
  /api/integrations/oauth/callback:
    get:
      description: Exchanges the authorization code for tokens and stores the credentials
      parameters:
        - description: Authorization code from provider
          in: query
          name: code
          required: true
          schema:
            type: string
        - description: State token for CSRF protection
          in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        "301":
          description: Redirect to frontend with error status
      summary: Handle OAuth callback
      tags:
        - OAuth
  /auth/callback:
    get:
      description: Callback from OAuth provider
      responses:
        "200":
          description: Login successful
          content:
            "*/*":
              schema:
                type: string
        "500":
          description: Failed to process the request
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Callback
      tags:
        - Auth
  /auth/login:
    get:
      description: Authenticate user by redirecting to OAuth provider
      responses:
        "307":
          description: Redirect to OAuth provider
          content:
            "*/*":
              schema:
                type: string
        "500":
          description: Failed to process the request
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Authenticate user
      tags:
        - Auth
  /auth/logout:
    get:
      description: Clears the session and redirects to the logout URL
      responses:
        "307":
          description: Redirecting to logout URL
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Clears the session and redirects to the logout URL
      tags:
        - Authentication
  /auth/signup:
    get:
      description: Redirect to OAuth provider signup page
      responses:
        "307":
          description: Redirect to OAuth provider signup
          content:
            "*/*":
              schema:
                type: string
        "500":
          description: Failed to process the request
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Register new user
      tags:
        - Auth
  /billing/webhook:
    post:
      description: Handle payment provider webhook (FlexPrice via Svix)
      parameters:
        - description: Svix message ID
          in: header
          name: svix-id
          required: true
          schema:
            type: string
        - description: Svix timestamp
          in: header
          name: svix-timestamp
          required: true
          schema:
            type: string
        - description: Svix signature
          in: header
          name: svix-signature
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Handle webhook
      tags:
        - Billing
  "/invitations/{invitation_id}/accept":
    post:
      description: Accept an invitation and join the organization
      parameters:
        - description: Invitation ID
          in: path
          name: invitation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invitations.AcceptInvitationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Accept invitation
      tags:
        - Invitations
  /me:
    get:
      description: Returns the authenticated user's profile
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/users.UserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get current user
      tags:
        - Users
  /me/organizations:
    get:
      description: Returns all organizations the authenticated user is a member of
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/users.OrganizationResponse"
                type: array
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List user's organizations
      tags:
        - Users
  "/org/{org_id}/agents":
    get:
      description: Get a paginated list of agents for the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
        - description: Filter by agent type (voice or chat)
          in: query
          name: type
          schema:
            type: string
        - description: Search by agent name
          in: query
          name: search
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/agents.PaginatedResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List agents
      tags:
        - Agents
    post:
      description: Create a new AI agent in the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/agents.CreateAgentRequest"
        description: Agent details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/agents.AgentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "409":
          description: Duplicate agent name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Create agent
      tags:
        - Agents
  "/org/{org_id}/agents/{agent_id}":
    delete:
      description: Delete an agent by ID
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Delete agent
      tags:
        - Agents
    get:
      description: Get agent details by ID
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/agents.AgentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get agent
      tags:
        - Agents
    patch:
      description: Update agent details (partial update)
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/agents.UpdateAgentRequest"
        description: Agent update details
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/agents.AgentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update agent
      tags:
        - Agents
  "/org/{org_id}/agents/{agent_id}/run-specific-tests":
    post:
      description: Trigger execution of specific unit tests
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_unit-tests.RunSpecificTestsRequest"
        description: Test IDs to run
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_unit-tests.RunTestsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Run specific tests
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/{agent_id}/run-tests":
    post:
      description: Trigger execution of all unit tests for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_unit-tests.RunTestsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Run all tests
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/{agent_id}/tools":
    get:
      description: Get all tools configured for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/agents.AgentToolResponse"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get agent tools
      tags:
        - Agents
    post:
      description: Add or update a tool configuration for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/agents.AddAgentToolRequest"
        description: Tool configuration
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Add tool to agent
      tags:
        - Agents
  "/org/{org_id}/agents/{agent_id}/tools/{tool_id}":
    delete:
      description: Remove a tool from an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
        - description: Tool ID
          in: path
          name: tool_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Remove tool from agent
      tags:
        - Agents
    patch:
      description: Update tool configuration for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
        - description: Tool ID
          in: path
          name: tool_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/agents.UpdateAgentToolConfigRequest"
        description: Tool configuration update
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update tool configuration
      tags:
        - Agents
  "/org/{org_id}/agents/{agent_id}/unit-test-runs/latest":
    get:
      description: Get the latest test run results for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_unit-tests.PaginatedTestRunsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List latest test runs
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/{agent_id}/unit-tests":
    get:
      description: Get all unit tests for a specific agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_unit-tests.PaginatedUnitTestsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List unit tests
      tags:
        - Agent Unit Tests
    post:
      description: Create a new unit test for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_unit-tests.CreateUnitTestRequest"
        description: Unit test details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_unit-tests.UnitTestResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Create unit test
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/{agent_id}/unit-tests/{test_id}":
    put:
      description: Update an existing unit test
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
        - description: Unit Test ID
          in: path
          name: test_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_unit-tests.UpdateUnitTestRequest"
        description: Unit test update details
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_unit-tests.UnitTestResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update unit test
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/{agent_id}/unit-tests/delete":
    post:
      description: Delete multiple unit tests by IDs
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_unit-tests.DeleteUnitTestsRequest"
        description: IDs to delete
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Delete unit tests
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/{agent_id}/unit-tests/generate":
    post:
      description: Auto-generate unit tests for an agent using AI
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_unit-tests.GenerateUnitTestsRequest"
        description: Generation options
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/evals_unit-tests.UnitTestResponse"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Generate unit tests
      tags:
        - Agent Unit Tests
  "/org/{org_id}/agents/eval-runs":
    get:
      description: Get evaluation runs with pagination
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: query
          name: agentId
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_postcall.PaginatedEvalRunsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List evaluation runs
      tags:
        - Agent Evals
  "/org/{org_id}/agents/evals":
    get:
      description: Get all evaluations for a specific agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: query
          name: agentId
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_postcall.PaginatedEvalsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List evaluations
      tags:
        - Agent Evals
    post:
      description: Create a new evaluation for an agent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_postcall.CreateEvalRequest"
        description: Evaluation data
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_postcall.EvalResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Create evaluation
      tags:
        - Agent Evals
  "/org/{org_id}/agents/evals/{evalId}":
    delete:
      description: Delete an evaluation by ID
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Evaluation ID
          in: path
          name: evalId
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Delete evaluation
      tags:
        - Agent Evals
    put:
      description: Update an existing evaluation
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Evaluation ID
          in: path
          name: evalId
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/evals_postcall.UpdateEvalRequest"
        description: Evaluation data
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/evals_postcall.EvalResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update evaluation
      tags:
        - Agent Evals
  "/org/{org_id}/analytics/agents":
    get:
      description: Returns performance metrics for all agents
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.AgentAnalyticsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get agent analytics
      tags:
        - Analytics
  "/org/{org_id}/analytics/batches":
    get:
      description: Returns performance metrics for workflow batches
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics.BatchPerformance"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get batch analytics
      tags:
        - Analytics
  "/org/{org_id}/analytics/calls":
    get:
      description: Returns call volume, duration stats, and outcomes for the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.CallAnalyticsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call analytics
      tags:
        - Analytics
  "/org/{org_id}/analytics/calls/by-hour":
    get:
      description: Returns call distribution by hour of day
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics.HourlyCallData"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get calls by hour
      tags:
        - Analytics
  "/org/{org_id}/analytics/calls/costs":
    get:
      description: Returns call cost breakdown by day
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.CallCostsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call costs
      tags:
        - Analytics
  "/org/{org_id}/analytics/dashboard":
    get:
      description: Returns overview metrics for the dashboard
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.DashboardSummaryResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get dashboard summary
      tags:
        - Analytics
  "/org/{org_id}/analytics/prospects":
    get:
      description: Returns prospect status distribution, geographic data, and growth
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.ProspectAnalyticsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get prospect analytics
      tags:
        - Analytics
  "/org/{org_id}/analytics/workflows":
    get:
      description: Returns workflow run stats for all workflows
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.WorkflowAnalyticsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get workflow analytics
      tags:
        - Analytics
  "/org/{org_id}/analytics/workflows/{id}":
    get:
      description: Returns detailed analytics for a specific workflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: End date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics.SingleWorkflowAnalytics"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get single workflow analytics
      tags:
        - Analytics
  "/org/{org_id}/api-keys":
    delete:
      description: Revokes all organization API keys (soft delete)
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.Response"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Revoke All Organization API keys
      tags:
        - API Keys
    get:
      description: List all API keys for the organization (keys are masked)
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/apikeys.ListAPIKeyResponse"
                type: array
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List API keys
      tags:
        - API Keys
    post:
      description: Create a new API key for the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apikeys.CreateAPIKeyRequest"
        description: API key details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeys.CreateAPIKeyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Create API key
      tags:
        - API Keys
  "/org/{org_id}/api-keys/{key_id}":
    delete:
      description: Revoke an API key (soft delete)
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: API Key ID
          in: path
          name: key_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.Response"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Revoke API key
      tags:
        - API Keys
  "/org/{org_id}/api-keys/{key_id}/scopes":
    patch:
      description: Update the scopes of an existing API key
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: API Key ID
          in: path
          name: key_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apikeys.UpdateAPIKeyScopesRequest"
        description: Updated scopes
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.Response"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update API key scopes
      tags:
        - API Keys
  "/org/{org_id}/audit-logs":
    get:
      description: Returns a paginated list of audit logs for the organization (OWNER
        and ADMIN only)
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            maximum: 100
            default: 50
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/audit-logs.PaginatedAuditLogsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: List audit logs
      tags:
        - Audit Logs
  "/org/{org_id}/batches/{batch_id}":
    get:
      description: Get a single workflow batch with run statistics
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Batch ID
          in: path
          name: batch_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow-batches.BatchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get workflow batch
      tags:
        - Workflow Batches
    patch:
      description: Update batch status and cascade to all runs
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Batch ID
          in: path
          name: batch_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/workflow-batches.UpdateBatchStatusRequest"
        description: Status update
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow-batches.BatchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update batch status
      tags:
        - Workflow Batches
  "/org/{org_id}/batches/{batch_id}/runs":
    get:
      description: List all workflow runs in a batch with pagination
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Batch ID
          in: path
          name: batch_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Items per page
          in: query
          name: limit
          schema:
            type: integer
            default: 20
        - description: Filter by status
          in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow-batches.PaginatedRunsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List workflow runs
      tags:
        - Workflow Runs
  "/org/{org_id}/billing/balance":
    get:
      description: Get the current credits balance and billing tier
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.BalanceResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get billing balance
      tags:
        - Billing
  "/org/{org_id}/billing/invoices":
    get:
      description: Get paginated list of invoices with optional filtering
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Items per page
          in: query
          name: per_page
          schema:
            type: integer
            maximum: 100
            default: 100
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
        - description: Filter by invoice status (DRAFT, FINALIZED, VOIDED)
          in: query
          name: invoice_status
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Filter by payment status (INITIATED, PENDING, SUCCEEDED, etc.)
          in: query
          name: payment_status
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.PaginatedInvoiceResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List invoices
      tags:
        - Billing
  "/org/{org_id}/billing/invoices/pdf":
    get:
      description: Get the PDF URL for a specific invoice
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Invoice ID
          in: query
          name: invoice_id
          required: true
          schema:
            type: string
        - description: Return URL (optional)
          in: query
          name: url
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.InvoicePDFResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get invoice PDF URL
      tags:
        - Billing
  "/org/{org_id}/billing/ledger":
    get:
      description: Get paginated list of billing ledger entries with filtering
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            maximum: 100
            default: 20
        - description: Filter by event type (TOPUP, CALL_USAGE, RENTAL)
          in: query
          name: event_type
          schema:
            type: string
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.PaginatedLedgerResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List ledger entries
      tags:
        - Billing
  "/org/{org_id}/billing/ledger/{entry_id}":
    get:
      description: Get a ledger entry with its usage breakdown
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Ledger Entry ID
          in: path
          name: entry_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.LedgerDetailResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get ledger entry
      tags:
        - Billing
  "/org/{org_id}/billing/summary":
    get:
      description: Get comprehensive billing summary including balance, monthly
        totals, and daily report
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.BillingSummaryResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get billing summary
      tags:
        - Billing
  "/org/{org_id}/billing/topup":
    post:
      description: Initiate a credit top-up and return redirect URL to payment provider
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/billing.TopupRequest"
        description: Top-up details
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.TopupResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Initiate top-up
      tags:
        - Billing
  "/org/{org_id}/billing/usage":
    get:
      description: Get usage summary grouped by product type
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing.UsageSummaryResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get usage summary
      tags:
        - Billing
  "/org/{org_id}/calls":
    get:
      description: Returns a paginated list of calls for the organization with
        optional filters
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            maximum: 100
            default: 50
        - description: Filter by status (SCHEDULED, RINGING, IN_PROGRESS, completed,
            no-answer, failed, busy)
          in: query
          name: status
          schema:
            type: string
        - description: Filter by direction (INBOUND, OUTBOUND)
          in: query
          name: direction
          schema:
            type: string
        - description: Filter by agent ID
          in: query
          name: agent_id
          schema:
            type: string
        - description: Filter by prospect ID
          in: query
          name: prospect_id
          schema:
            type: string
        - description: Filter by workflow ID
          in: query
          name: workflow_id
          schema:
            type: string
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
        - description: Filter by minimum duration in seconds
          in: query
          name: min_duration
          schema:
            type: integer
        - description: Search by phone number
          in: query
          name: phone
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calls.PaginatedCallsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: List calls
      tags:
        - Calls
  "/org/{org_id}/calls/{call_id}":
    get:
      description: Returns full details for a specific call including prospect and
        agent info
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Call ID
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calls.CallDetailResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call details
      tags:
        - Calls
  "/org/{org_id}/calls/{call_id}/evaluations":
    get:
      description: Returns the AI evaluation results for a call
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Call ID
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/calls.CallEvaluationResponse"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call evaluations
      tags:
        - Calls
  "/org/{org_id}/calls/{call_id}/recording":
    get:
      description: Returns the recording URL for a call
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Call ID
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calls.CallRecordingResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call recording
      tags:
        - Calls
  "/org/{org_id}/calls/{call_id}/tool-logs":
    get:
      description: Returns the tool invocation logs for a call
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Call ID
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/calls.CallToolLogResponse"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call tool logs
      tags:
        - Calls
  "/org/{org_id}/calls/{call_id}/transcript":
    get:
      description: Returns the transcript and conversation messages for a call
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Call ID
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calls.CallTranscriptResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      security:
        - BearerAuth: []
      summary: Get call transcript
      tags:
        - Calls
  "/org/{org_id}/integrations":
    get:
      description: Get all available integrations with their connection status
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.IntegrationDefinitionListResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List available integrations
      tags:
        - Integrations
    post:
      description: Connect a new integration to the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/integrations.ConnectIntegrationRequest"
        description: Integration details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.ConnectedIntegrationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Connect integration
      tags:
        - Integrations
  "/org/{org_id}/integrations/{id}":
    delete:
      description: Disconnect an integration from the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Integration ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Disconnect integration
      tags:
        - Integrations
    get:
      description: Get a single integration by ID
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Integration ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.ConnectedIntegrationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get integration
      tags:
        - Integrations
  "/org/{org_id}/integrations/{id}/settings":
    patch:
      description: Update the settings for a connected integration
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Integration ID
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/integrations.UpdateSettingsRequest"
        description: New settings
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.ConnectedIntegrationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Update integration settings
      tags:
        - Integrations
  "/org/{org_id}/integrations/{id}/toggle":
    patch:
      description: Enable or disable a connected integration
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Integration ID
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/integrations.ToggleRequest"
        description: Toggle state
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.ConnectedIntegrationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Toggle integration
      tags:
        - Integrations
  "/org/{org_id}/integrations/connected":
    get:
      description: Get all integrations connected to the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.ConnectedIntegrationListResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List connected integrations
      tags:
        - Integrations
  "/org/{org_id}/integrations/oauth/{provider}/authorize":
    get:
      description: Redirects the user to the OAuth provider's authorization page
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: OAuth provider (google, microsoft, hubspot, salesforce)
          in: path
          name: provider
          required: true
          schema:
            type: string
        - description: URL to redirect after OAuth completion
          in: query
          name: return_url
          schema:
            type: string
      responses:
        "302":
          description: Redirect to OAuth provider
        "400":
          description: Bad Request
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Initiate OAuth authorization
      tags:
        - OAuth
  "/org/{org_id}/integrations/slug/{slug}":
    get:
      description: Get an integration by its slug identifier
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Integration Slug
          in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/integrations.ConnectedIntegrationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Get integration by slug
      tags:
        - Integrations
  "/org/{org_id}/invitations":
    get:
      description: List all pending invitations for the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/invitations.InvitationResponse"
                type: array
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List invitations
      tags:
        - Invitations
    post:
      description: Create and send an invitation to join the organization
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invitations.CreateInvitationRequest"
        description: Invitation details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invitations.InvitationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Create invitation
      tags:
        - Invitations
  "/org/{org_id}/invitations/{invitation_id}":
    delete:
      description: Cancel a pending invitation by expiring it
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Invitation ID
          in: path
          name: invitation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.Response"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Cancel invitation
      tags:
        - Invitations
  "/org/{org_id}/lists":
    get:
      description: Get a paginated list of prospect lists with filtering and sorting
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
        - description: Filter by source
          in: query
          name: source
          schema:
            type: string
            enum:
              - CSV
              - API
              - MANUAL
              - INTEGRATION
        - description: Search in list name
          in: query
          name: search
          schema:
            type: string
        - description: Sort order
          in: query
          name: sort
          schema:
            type: string
            enum:
              - name_asc
              - name_desc
              - created_asc
              - created_desc
            default: created_desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prospect-lists.PaginatedListsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: List prospect lists
      tags:
        - Prospect Lists
    post:
      description: Create a new prospect list
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prospect-lists.CreateListRequest"
        description: List details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prospect-lists.ListResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Create prospect list
      tags:
        - Prospect Lists
  "/org/{org_id}/lists/{list_id}":
    delete:
      description: Soft delete a prospect list and all its prospects (sets deleted_at
        timestamp)
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prospect-lists.DeleteListResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
      summary: Delete prospect list
      tags:
        - Prospect Lists
    get:
      description: Get a single prospect list by ID with prospect count
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prospect-lists.ListResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helper.ResponseError"
[...]
