openapi: 3.0.0
info:
  contact: {}
  title: Cozmo - API
  version: devel
servers:
  - url: https://v2-nova-api.prod.czmx.in/api
security:
  - BearerAuth: []
paths:
  /org/{org_id}/agent-sessions:
    post:
      description: Create a new agent session for the organization. Supply either prospect_id for an existing prospect or new_prospect to create one inline.
      operationId: createAgentSession
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent-sessions.CreateSessionRequest'
        description: Session details
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent-sessions.SessionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create agent session
      tags:
        - Agent Sessions
      x-hidden: true
  /org/{org_id}/agent-sessions/{session_id}:
    get:
      description: Get the details of an agent session by ID
      operationId: getAgentSession
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Session ID
          in: path
          name: session_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent-sessions.SessionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get agent session
      tags:
        - Agent Sessions
  /org/{org_id}/agent-sessions/{session_id}/start:
    post:
      description: >
        Creates the session record, appends the initial instruction as a user message event,
        and triggers the agent workflow — all in a single call. The session_id must be a
        client-generated UUID v4 and is used to idempotently reference the session afterward.
      operationId: startAgentSession
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Client-generated UUID v4 for the session
          in: path
          name: session_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent-sessions.StartSessionRequest'
        description: Session start parameters
        required: true
      responses:
        '201':
          description: Session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent-sessions.StartSessionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Start agent session
      tags:
        - Agent Sessions
  /org/{org_id}/agents:
    get:
      description: Get a paginated list of agents for the organization
      operationId: listAgents
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
        - description: Filter by agent type (voice or chat)
          in: query
          name: type
          schema:
            type: string
        - description: Search by agent name
          in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agents.PaginatedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List agents
      tags:
        - Agents
    post:
      description: Create a new AI agent in the organization
      operationId: createAgent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agents.CreateAgentRequest'
        description: Agent details
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agents.AgentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '409':
          description: Duplicate agent name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create agent
      tags:
        - Agents
  /org/{org_id}/agents/{agent_id}:
    delete:
      description: Delete an agent by ID
      operationId: deleteAgent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Delete agent
      tags:
        - Agents
    get:
      description: Get agent details by ID
      operationId: getAgent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agents.AgentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get agent
      tags:
        - Agents
    patch:
      description: Update agent details (partial update)
      operationId: updateAgent
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Agent ID
          in: path
          name: agent_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agents.UpdateAgentRequest'
        description: Agent update details
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agents.AgentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update agent
      tags:
        - Agents
  /org/{org_id}/calls:
    get:
      description: Returns a paginated list of calls for the organization with optional filters
      operationId: listCalls
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            maximum: 100
            default: 50
        - description: Filter by status (SCHEDULED, RINGING, IN_PROGRESS, completed, no-answer, failed, busy)
          in: query
          name: status
          schema:
            type: string
        - description: Filter by direction (INBOUND, OUTBOUND)
          in: query
          name: direction
          schema:
            type: string
        - description: Filter by agent ID
          in: query
          name: agent_id
          schema:
            type: string
        - description: Filter by prospect ID
          in: query
          name: prospect_id
          schema:
            type: string
        - description: Filter by workflow ID
          in: query
          name: workflow_id
          schema:
            type: string
        - description: Filter by prospect external ID
          in: query
          name: prospect_external_id
          schema:
            type: string
        - description: Filter by prospect name (first or last)
          in: query
          name: prospect_name
          schema:
            type: string
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
        - description: Filter by minimum duration in seconds
          in: query
          name: min_duration
          schema:
            type: integer
        - description: Search by phone number
          in: query
          name: phone
          schema:
            type: string
        - description: Filter by evaluation outcome key (e.g. is_interested)
          in: query
          name: evaluation_key
          schema:
            type: string
        - description: Filter by evaluation value (e.g. true, false, or extracted text)
          in: query
          name: evaluation_value
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.PaginatedCallsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      security:
        - BearerAuth: []
      summary: List calls
      tags:
        - Calls
    post:
      description: Create a new outbound call directly (on-demand call)
      operationId: createDashboardCall
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calls.CreateDashboardCallRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.CreateDashboardCallResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create outbound call
      tags:
        - Calls
  /org/{org_id}/calls/{call_id}:
    get:
      description: Returns full details for a specific call including prospect and agent info
      operationId: getCallDetails
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Call ID
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.CallDetailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      security:
        - BearerAuth: []
      summary: Get call details
      tags:
        - Calls
  /org/{org_id}/calls/export:
    get:
      description: Export all calls matching the supplied filters as a CSV file. Export jobs are capped at 10,000 matching calls.
      operationId: exportCalls
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Filter by status
          in: query
          name: status
          schema:
            type: string
        - description: Filter by direction
          in: query
          name: direction
          schema:
            type: string
        - description: Filter by agent ID
          in: query
          name: agent_id
          schema:
            type: string
        - description: Filter by prospect ID
          in: query
          name: prospect_id
          schema:
            type: string
        - description: Filter by workflow ID
          in: query
          name: workflow_id
          schema:
            type: string
        - description: Filter by prospect external ID
          in: query
          name: prospect_external_id
          schema:
            type: string
        - description: Filter by prospect name (first or last)
          in: query
          name: prospect_name
          schema:
            type: string
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
        - description: Filter by minimum duration in seconds
          in: query
          name: min_duration
          schema:
            type: integer
        - description: Search by phone number
          in: query
          name: phone
          schema:
            type: string
      responses:
        '200':
          description: CSV file
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Export calls to CSV
      tags:
        - Calls
  /org/{org_id}/calls/export/count:
    get:
      description: Return the total number of calls that match the export filters before you download a CSV.
      operationId: exportCallsCount
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Filter by status
          in: query
          name: status
          schema:
            type: string
        - description: Filter by direction
          in: query
          name: direction
          schema:
            type: string
        - description: Filter by agent ID
          in: query
          name: agent_id
          schema:
            type: string
        - description: Filter by prospect ID
          in: query
          name: prospect_id
          schema:
            type: string
        - description: Filter by workflow ID
          in: query
          name: workflow_id
          schema:
            type: string
        - description: Filter by prospect external ID
          in: query
          name: prospect_external_id
          schema:
            type: string
        - description: Filter by prospect name (first or last)
          in: query
          name: prospect_name
          schema:
            type: string
        - description: Filter by start date (ISO 8601)
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter by end date (ISO 8601)
          in: query
          name: end_date
          schema:
            type: string
        - description: Filter by minimum duration in seconds
          in: query
          name: min_duration
          schema:
            type: integer
        - description: Search by phone number
          in: query
          name: phone
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.ExportCountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get call export count
      tags:
        - Calls
  /org/{org_id}/voices:
    get:
      description: Get a paginated list of available voices from the specified provider
      operationId: listVoices
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Voice provider
          in: query
          name: provider
          required: true
          schema:
            type: string
            enum:
              - elevenlabs
              - cartesia
              - openai
              - cambai
              - sarvam
              - inworld
              - minimax
        - description: 'Page number (default: 1) - used for offset pagination'
          in: query
          name: page
          schema:
            type: integer
        - description: 'Page size (default: 50, max: 100)'
          in: query
          name: size
          schema:
            type: integer
        - description: Cursor for next page - used for native pagination (cartesia, elevenlabs)
          in: query
          name: next_page
          schema:
            type: string
        - description: Filter by model (e.g., bulbul:v2, bulbul:v3) - only for sarvam provider
          in: query
          name: model
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voices.ListVoicesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List voices
      tags:
        - Voices
  /org/{org_id}/workflow-runs:
    post:
      description: Create a new workflow run with prospect creation in a single operation (API endpoint)
      operationId: createWorkflowRunWithProspect
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflow-batches.CreateWorkflowRunWithProspectRequest'
        description: Workflow run details
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.CreateWorkflowRunWithProspectResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create workflow run with prospect
      tags:
        - Workflow Runs
  /org/{org_id}/workflows:
    get:
      description: Get a paginated list of workflows with filtering
      operationId: listWorkflows
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
        - description: Filter by active status
          in: query
          name: is_active
          schema:
            type: boolean
        - description: Filter by trigger type
          in: query
          name: trigger_type
          schema:
            type: string
        - description: Search in workflow name and description
          in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.PaginatedWorkflowsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List workflows
      tags:
        - Workflows
    post:
      description: Create a new workflow in the organization
      operationId: createWorkflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflows.CreateWorkflowRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create workflow
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}:
    get:
      description: Get a single workflow by ID with its latest definition
      operationId: getWorkflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get workflow
      tags:
        - Workflows
    patch:
      description: Update a workflow (partial update)
      operationId: updateWorkflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflows.UpdateWorkflowRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update workflow
      tags:
        - Workflows
    delete:
      description: Delete a workflow by ID
      operationId: deleteWorkflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Delete workflow
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}/definition:
    put:
      description: Update the workflow definition and create a new version.
      operationId: updateWorkflowDefinition
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflows.UpdateDefinitionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update workflow definition
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}/duplicate:
    post:
      description: Create a copy of an existing workflow.
      operationId: duplicateWorkflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Duplicate workflow
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}/restore/{version}:
    post:
      description: Restore a previous workflow version by creating a new version from it.
      operationId: restoreWorkflowVersion
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
        - description: Version number to restore
          in: path
          name: version
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Restore workflow version
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}/runs:
    get:
      description: List all workflow runs for a specific workflow with filters and pagination.
      operationId: listWorkflowRunsByWorkflow
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Items per page
          in: query
          name: limit
          schema:
            type: integer
            default: 20
        - description: Filter by status
          in: query
          name: status
          schema:
            type: string
        - description: Filter by prospect ID
          in: query
          name: prospect_id
          schema:
            type: string
        - description: Filter by batch ID
          in: query
          name: batch_id
          schema:
            type: string
        - description: Filter by workflow version ID
          in: query
          name: workflow_version_id
          schema:
            type: string
        - description: Filter runs started after this RFC3339 timestamp
          in: query
          name: start_date
          schema:
            type: string
        - description: Filter runs started before this RFC3339 timestamp
          in: query
          name: end_date
          schema:
            type: string
        - description: Sort order
          in: query
          name: sort
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.PaginatedRunsExtendedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List workflow runs by workflow
      tags:
        - Workflow Runs
  /org/{org_id}/workflows/{workflow_id}/versions:
    get:
      description: Get a paginated list of versions for a workflow
      operationId: listWorkflowVersions
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.PaginatedVersionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List workflow versions
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}/versions/{version}:
    get:
      description: Get a specific version of a workflow by version number
      operationId: getWorkflowVersion
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
        - description: Version number
          in: path
          name: version
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflows.WorkflowVersionDetailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get workflow version
      tags:
        - Workflows
  /org/{org_id}/workflows/{workflow_id}/batches:
    get:
      description: Get a paginated list of batches for a workflow
      operationId: listWorkflowBatches
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.PaginatedBatchesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List workflow batches
      tags:
        - Workflow Batches
    post:
      description: Create a new batch run for a workflow with a set of prospects
      operationId: createWorkflowBatch
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow ID
          in: path
          name: workflow_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflow-batches.CreateBatchRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.BatchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create workflow batch
      tags:
        - Workflow Batches
  /org/{org_id}/workflow/{node_id}/calls:
    get:
      description: List all calls associated with a specific workflow node across prospects.
      operationId: listWorkflowNodeCalls
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Workflow node ID
          in: path
          name: node_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/calls.WorkflowNodeCallResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List calls for workflow node
      tags:
        - Calls
  /org/{org_id}/batches/{batch_id}:
    get:
      description: Get a batch by ID
      operationId: getBatch
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Batch ID
          in: path
          name: batch_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.BatchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get batch
      tags:
        - Workflow Batches
    patch:
      description: Update the status of a batch (pause, cancel, etc.)
      operationId: updateBatchStatus
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Batch ID
          in: path
          name: batch_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workflow-batches.UpdateBatchStatusRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.BatchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update batch status
      tags:
        - Workflow Batches
  /org/{org_id}/batches/{batch_id}/runs:
    get:
      description: Get a paginated list of workflow runs for a batch
      operationId: listBatchRuns
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Batch ID
          in: path
          name: batch_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.PaginatedRunsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List batch runs
      tags:
        - Workflow Batches
  /org/{org_id}/runs:
    get:
      description: Get a paginated list of all workflow runs for the organization
      operationId: listWorkflowRuns
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 50
        - description: Filter by workflow ID
          in: query
          name: workflow_id
          schema:
            type: string
        - description: Filter by status
          in: query
          name: status
          schema:
            type: string
        - description: Filter by prospect ID
          in: query
          name: prospect_id
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.PaginatedRunsExtendedResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List workflow runs
      tags:
        - Workflow Runs
  /org/{org_id}/runs/{run_id}:
    get:
      description: Get a single workflow run by ID
      operationId: getWorkflowRun
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Run ID
          in: path
          name: run_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-batches.RunResponseExtended'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get workflow run
      tags:
        - Workflow Runs
  /org/{org_id}/tags:
    get:
      description: Get a list of all tags for the organization
      operationId: listTags
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags.TagListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List tags
      tags:
        - Tags
    post:
      description: Create a new tag for the organization
      operationId: createTag
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tags.CreateTagRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags.TagResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create tag
      tags:
        - Tags
  /org/{org_id}/tags/{tag_id}:
    get:
      description: Get a tag by ID
      operationId: getTag
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Tag ID
          in: path
          name: tag_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags.TagResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get tag
      tags:
        - Tags
    patch:
      description: Update a tag (partial update)
      operationId: updateTag
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Tag ID
          in: path
          name: tag_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tags.UpdateTagRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags.TagResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update tag
      tags:
        - Tags
    delete:
      description: Delete a tag by ID
      operationId: deleteTag
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Tag ID
          in: path
          name: tag_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Delete tag
      tags:
        - Tags
  /org/{org_id}/tags/{tag_id}/prospects:
    post:
      description: Bulk-add prospects to a tag
      operationId: addProspectsToTag
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Tag ID
          in: path
          name: tag_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tags.BulkTagProspectsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags.BulkOperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Add prospects to tag
      tags:
        - Tags
    delete:
      description: Bulk-remove prospects from a tag
      operationId: removeProspectsFromTag
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Tag ID
          in: path
          name: tag_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tags.BulkTagProspectsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags.BulkOperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Remove prospects from tag
      tags:
        - Tags
  /org/{org_id}/lists:
    get:
      description: Get a paginated list of prospect lists for the organization
      operationId: listProspectLists
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            default: 1
        - description: Page size
          in: query
          name: size
          schema:
            type: integer
            default: 20
        - description: Filter by source
          in: query
          name: source
          schema:
            type: string
            enum:
              - CSV
              - API
              - MANUAL
              - INTEGRATION
        - description: Search in list name
          in: query
          name: search
          schema:
            type: string
        - description: Sort order
          in: query
          name: sort
          schema:
            type: string
            default: created_desc
            enum:
              - name_asc
              - name_desc
              - created_asc
              - created_desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.PaginatedListsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List prospect lists
      tags:
        - Prospect Lists
    post:
      description: Create a new prospect list
      operationId: createProspectList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prospect-lists.CreateListRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.ListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create prospect list
      tags:
        - Prospect Lists
  /org/{org_id}/lists/{list_id}:
    get:
      description: Get a prospect list by ID
      operationId: getProspectList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.ListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get prospect list
      tags:
        - Prospect Lists
    patch:
      description: Update a prospect list (partial update)
      operationId: updateProspectList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prospect-lists.UpdateListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.ListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update prospect list
      tags:
        - Prospect Lists
    delete:
      description: Delete a prospect list by ID
      operationId: deleteProspectList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.DeleteListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Delete prospect list
      tags:
        - Prospect Lists
  /org/{org_id}/lists/{list_id}/prospects:
    post:
      description: Add prospects to a prospect list
      operationId: addProspectsToList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prospect-lists.AddProspectsToListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.ListProspectOperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Add prospects to list
      tags:
        - Prospect Lists
    delete:
      description: Remove prospects from a prospect list
      operationId: removeProspectsFromList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prospect-lists.RemoveProspectsFromListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.ListProspectOperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Remove prospects from list
      tags:
        - Prospect Lists
  /org/{org_id}/lists/{list_id}/gdpr:
    delete:
      description: Permanently delete a prospect list and all its prospects for GDPR compliance.
      operationId: gdprDeleteProspectList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prospect-lists.DeleteListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: GDPR delete prospect list
      tags:
        - Prospect Lists
  /org/{org_id}/lists/{list_id}/prospects/{prospect_id}:
    delete:
      description: Remove a single prospect from a list without deleting the prospect record.
      operationId: removeProspectFromList
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: List ID
          in: path
          name: list_id
          required: true
          schema:
            type: string
        - description: Prospect ID
          in: path
          name: prospect_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Remove one prospect from list
      tags:
        - Prospect Lists
  /org/{org_id}/outcome-definitions:
    get:
      description: Get all outcome definitions (evaluation keys) for the organization
      operationId: listOutcomeDefinitions
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/calls.OutcomeDefinitionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List outcome definitions
      tags:
        - Outcome Definitions
    post:
      description: Create a new outcome definition to evaluate during calls
      operationId: createOutcomeDefinition
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calls.CreateOutcomeDefinitionRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.OutcomeDefinitionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create outcome definition
      tags:
        - Outcome Definitions
  /org/{org_id}/outcome-definitions/{definition_id}:
    get:
      description: Get an outcome definition by ID
      operationId: getOutcomeDefinition
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Outcome Definition ID
          in: path
          name: definition_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.OutcomeDefinitionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get outcome definition
      tags:
        - Outcome Definitions
    patch:
      description: Update an outcome definition (partial update)
      operationId: updateOutcomeDefinition
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Outcome Definition ID
          in: path
          name: definition_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calls.UpdateOutcomeDefinitionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calls.OutcomeDefinitionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update outcome definition
      tags:
        - Outcome Definitions
    delete:
      description: Delete an outcome definition by ID
      operationId: deleteOutcomeDefinition
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Outcome Definition ID
          in: path
          name: definition_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Delete outcome definition
      tags:
        - Outcome Definitions
  /org/{org_id}/knowledge/libraries:
    get:
      description: Get all knowledge libraries for the organization
      operationId: listKnowledgeLibraries
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledge.ListLibrariesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List knowledge libraries
      tags:
        - Knowledge
    post:
      description: Create a new knowledge library for the organization
      operationId: createKnowledgeLibrary
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/knowledge.CreateLibraryRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledge.LibraryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Create knowledge library
      tags:
        - Knowledge
  /org/{org_id}/knowledge/libraries/{library_id}:
    get:
      description: Get a knowledge library by ID including its documents
      operationId: getKnowledgeLibrary
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Library ID
          in: path
          name: library_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledge.LibraryResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Get knowledge library
      tags:
        - Knowledge
    patch:
      description: Update a knowledge library (partial update)
      operationId: updateKnowledgeLibrary
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Library ID
          in: path
          name: library_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/knowledge.UpdateLibraryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledge.LibraryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Update knowledge library
      tags:
        - Knowledge
    delete:
      description: Delete a knowledge library by ID
      operationId: deleteKnowledgeLibrary
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Library ID
          in: path
          name: library_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Delete knowledge library
      tags:
        - Knowledge
  /org/{org_id}/knowledge/libraries/{library_id}/documents:
    get:
      description: List all documents in a knowledge library
      operationId: listLibraryDocuments
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Library ID
          in: path
          name: library_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledge.ListDocumentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: List library documents
      tags:
        - Knowledge
    post:
      description: Add existing documents to a knowledge library
      operationId: addDocumentsToLibrary
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
        - description: Library ID
          in: path
          name: library_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/knowledge.AddDocumentsToLibraryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledge.LibraryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helper.ResponseError'
      summary: Add documents to library
      tags:
        - Knowledge
  /org/{org_id}/knowledge/libraries/{library_id}/documents/webpages:
    post:
      description: Batch upload webpages as documents into a knowledge library
      operationId: batchUploadWebpages
      parameters:
        - description: Organization ID
          in: path
          name: org_id
          required: true
          schema:
            type: string
[...]
